{
  "presets": [["@babel/preset-env", { "modules": false }], "@babel/preset-react", "@babel/preset-flow"],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    ["@babel/plugin-proposal-decorators",{ "legacy": true }],
    "@babel/plugin-proposal-class-properties",
    "react-hot-loader/babel",
    "@babel/plugin-transform-flow-strip-types"
  ],
  "env": {
    "commonjs": {
      "presets": [["@babel/preset-env",{"targets":{"node":"current"}}], "@babel/preset-flow"],
      "plugins": [
        "dynamic-import-node",
        ["@babel/plugin-proposal-decorators",{ "legacy": true }],
        "@babel/plugin-proposal-class-properties",
        "add-module-exports",
        [
          "webpack-alias",
          {
            "config": "./webpack.config.js"
          }
        ]
      ]
    },
    "test": {
      "presets": ["@babel/preset-env", "@babel/preset-react", "@babel/preset-flow"],
      "plugins": [
        "@babel/plugin-syntax-dynamic-import",
        ["@babel/plugin-proposal-decorators",{ "legacy": true }],
        "@babel/plugin-proposal-class-properties",
        [
          "webpack-alias",
          {
            "config": "./webpack.config.js"
          }
        ]
      ]
    }
  }
}
