{
  "presets": [["@babel/preset-env", { "modules": false }], "@babel/preset-flow"],
  "plugins": [
        "dynamic-import-node",
    ["@babel/plugin-proposal-decorators",{ "legacy": true }],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-flow-strip-types",
        "add-module-exports"
  ],
  "env": {
    "commonjs": {
      "presets": [["@babel/preset-env",{"targets":{"node":"current"}}], "@babel/preset-flow"],
      "plugins": [
        "dynamic-import-node",
        ["@babel/plugin-proposal-decorators",{ "legacy": true }],
        "@babel/plugin-proposal-class-properties",
        "add-module-exports"
      ]
    },
    "test": {
      "presets": ["@babel/preset-env", "@babel/preset-flow"],
      "plugins": [
        "dynamic-import-node",
        ["@babel/plugin-proposal-decorators",{ "legacy": true }],
        "@babel/plugin-proposal-class-properties",
        "add-module-exports"
      ]
    }
  }
}
